.movie-card {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

overlay-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
