$navbar-bg-color: #e0e0e0; /* Light grey for neumorphic effect */
$navbar-link-color: #007bff;
$navbar-link-hover-color: darken($navbar-link-color, 10%);
$navbar-button-outline-info-color: #17a2b8;
$navbar-button-outline-info-hover-color: darken(
  $navbar-button-outline-info-color,
  10%
);
$navbar-button-outline-danger-color: #dc3545;
$navbar-button-outline-danger-hover-color: darken(
  $navbar-button-outline-danger-color,
  10%
);
$navbar-button-outline-success-color: #28a745;
$navbar-button-outline-success-hover-color: darken(
  $navbar-button-outline-success-color,
  10%
);
$shadow-color: rgba(0, 0, 0, 0.2);

body {
  background: #f4f4f9;
  font-family: "Press Start 2P", cursive;
}

.navbar {
  background-color: $navbar-bg-color;
  box-shadow: 8px 8px 16px $shadow-color, -8px -8px 16px white;
  border-radius: 12px;
  padding: 10px 20px;

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: $navbar-link-color;
    text-shadow: 2px 2px 4px $shadow-color;

    &:hover {
      color: $navbar-link-hover-color;
    }
  }

  .navbar-toggler {
    border: none;
    box-shadow: 4px 4px 8px $shadow-color, -4px -4px 8px white;
    &:focus {
      outline: none;
      box-shadow: 4px 4px 8px $shadow-color, -4px -4px 8px white;
    }
  }

  .navbar-collapse {
    justify-content: flex-end;

    .nav-link {
      color: $navbar-link-color;
      text-shadow: 2px 2px 4px $shadow-color;

      &:hover {
        color: $navbar-link-hover-color;
      }
    }

    .btn-outline-info,
    .btn-outline-danger,
    .btn-outline-success {
      border-radius: 20px;
      box-shadow: 4px 4px 8px $shadow-color, -4px -4px 8px white;

      &:hover {
        box-shadow: inset 4px 4px 8px $shadow-color, inset -4px -4px 8px white;
      }
    }

    .mr-2 {
      margin-right: 0.5rem;
    }
  }
}
